:root {
  --size: 16px;
}

.game {
  margin: var(--size);
  position: relative;
}

.boards {
  display: flex;
}

.cell {
  position: absolute;
  height: var(--size);
  width: var(--size);
  border: 1px solid black;
  background-color: lightblue;
}

.cell:hover {
  border: 1px solid red;
  background-color: lightcyan;
}

.boat {
  position: absolute;
  pointer-events: none;
  opacity: 0.8;
}

.shot-board {
  margin-left: 20px;
}